@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
  margin-bottom: 12px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
  margin-top: 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header, .footer{
  display:flex;
  justify-content: space-between;
  padding: 18px;
}

ul{
  display: flex;
  gap: 18px;
}

ul li{
  list-style: none;
}

a{
  text-decoration: none;
  color: gray;
}

.content{
  align-self:center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer{
  background-color: rgb(237, 237, 237);
}
