*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  align-content: center;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 700;
  padding: 0 12px;
}

.footer {
  background: #eee;
  color: darkmagenta;
  text-align: center;
}

.header, .footer{
  align-content: center;
  height: 72px;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex: 1 0 auto;
}

.card {
  border: 1px solid #eee;
  height: 350px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  flex: 0 0 300px;
  padding: 12px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  align-content:center;
  justify-content: center;
  gap: 16px;
  padding:24px 12px;
}

.content{
  flex: 1 1 auto;
  display:flex;
}

.sidebar{
  padding: 8px 8px;
}

ul li a{
  text-decoration: none;
  color: white;
  font-size: 24px;
}

ul li{
  margin: 12px 0;
}