/* Add CSS Styling */
.first{
    background-color: rgb(0, 0, 0);
    color: white;
}

.second{
    background-color: rgb(255, 247, 0);
}

.second, 
.first{
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman',sans-serif;
}